<div class="form-group" [formGroup]="checkoutForm">
  <div formGroupName="addressForm">
    <app-custom-select
      label="Місто доставки"
      [items]="settlements$ | async"
      (keyupEvent)="getSettlements(getValue($event))"
      (changeEvent)="getWarehouses($event.deliveryCity)"
      bindLabel="present"
      bindValue="deliveryCity"
      formControlName="deliveryCity"
    ></app-custom-select>

    <app-custom-select
      label="Відділення"
      [items]="warehouses$ | async"
      bindLabel="description"
      bindValue="ref"
      formControlName="warehouse"
    ></app-custom-select>
  </div>
</div>
<div class="stepper-buttons">
  <button class="btn" routerLink="/basket">
    <i class="fa fa-angle-left"></i> Back to Basket
  </button>
  <button class="btn" (click)="submitOrder()">
    Go to Delivery <i class="fa fa-angle-right"></i>
  </button>
</div>