<!-- <div class="container mt-5">
    <div class="row">
        <div class="col-8">
            <app-stepper [linearModeSelected]="false" #appStepper>
                <cdk-step [label]="'Address'" [completed]="(checkoutForm.get('addressForm')).valid">
                    <app-checkout-address [checkoutForm]="checkoutForm"></app-checkout-address>
                </cdk-step>
                <cdk-step [label]="'Delivery'" [completed]="(checkoutForm.get('deliveryForm')).valid">
                    <app-checkout-delivery [checkoutForm]="checkoutForm"></app-checkout-delivery>
                </cdk-step>
                <cdk-step [label]="'Review'">
                    <app-checkout-review></app-checkout-review>
                </cdk-step>
                <cdk-step [label]="'Payment'">
                    <app-checkout-payment [checkoutForm]="checkoutForm"></app-checkout-payment>
                </cdk-step>
            </app-stepper>
        </div>
        <div class="col-4">
            <app-order-totals></app-order-totals>
        </div>
    </div>
</div> -->
<section class="ordering">
    <div class="wrapper">
        <div class="ordering__left">
            <app-stepper [linearModeSelected]="false" #appStepper>
                <cdk-step [label]="'Address'" [completed]="(checkoutForm.get('addressForm')).valid">
                    <app-checkout-address [checkoutForm]="checkoutForm"></app-checkout-address>
                </cdk-step>
                <cdk-step [label]="'Delivery'" [completed]="(checkoutForm.get('deliveryForm')).valid">
                    <app-checkout-delivery [checkoutForm]="checkoutForm"></app-checkout-delivery>
                </cdk-step>
                <cdk-step [label]="'Review'">
                    <app-checkout-review></app-checkout-review>
                </cdk-step>
                <cdk-step [label]="'Payment'">
                    <app-checkout-payment [checkoutForm]="checkoutForm"></app-checkout-payment>
                </cdk-step>
            </app-stepper>
            <!-- <h3>Доставка</h3>
            <div class="hr"></div>
            <form class="ordering__form" action="#">
                <table class="ordering__table form__table">
                    <tbody>
                        <tr>
                            <td>Спосіб доставки:</td>
                            <td>
                                <select name="delivery_method" id="delivery_method">
                                    <option value="nova_poshta_department">Нова Пошта (відділення)</option>
                                    <option value="nova_poshta_courier">Нова Пошта (кур'єр)</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Населений пункт:</td>
                            <td>
                                <select name="settlement" id="settlement">
                                    <option value="mariupol">Маріуполь</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Номер відділення:</td>
                            <td>
                                <select name="department_number" id="department_number">
                                    <option value="mariupol">Маріуполь</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Ім'я:</td>
                            <td>
                                <input type="text" name="name">
                            </td>
                        </tr>
                        <tr>
                            <td>Прізвище:</td>
                            <td>
                                <input type="text" name="surname">
                            </td>
                        </tr>
                        <tr>
                            <td>По-батькові:</td>
                            <td>
                                <input type="text" name="patronymic">
                            </td>
                        </tr>
                        <tr>
                            <td>Номер телефону:</td>
                            <td>
                                <input type="tel" name="phone_number">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="btns-container">
                    <a routerLink="/basket" class="btn return-to-basket">Повернутися до корзини</a>
                    <input type="submit" class="btn" value="Перейти до оплати">
                </div>
            </form> -->
        </div>
        <div class="ordering__right">
            <h3>Підсумки</h3>
            <div class="hr"></div>
            <app-order-totals></app-order-totals>
        </div>
    </div>
</section>
