@import "/src/variables";

.header-breadcrumbs {
    background-color: $dark-pink;
}

.header-breadcrumbs .wrapper {
    padding: 34px 65px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        color: $black;
        font-size: 25px;
        font-weight: 600;
    }
}

::ng-deep .xng-breadcrumb-list {
    display: flex;

    .xng-breadcrumb-item a {
        cursor: pointer;
    }

    .xng-breadcrumb-item a, 
    .xng-breadcrumb-item label,
    .xng-breadcrumb-separator {
        color: $black;
        font-size: 20px;
        font-weight: 500;
    }
}