<section class="orders">
  <div class="wrapper">
    <table class="orders__table">
      <thead class="orders__thead">
        <tr>
          <th>№</th>
          <th>Дата</th>
          <th>Сума замовлення</th>
          <th>Статус</th>
        </tr>
      </thead>
      <tbody class="orders__tbody">
        <tr *ngFor="let order of orders" routerLink="/orders/{{ order.id }}">
          <td>{{ order.id }}</td>
          <td>{{ order.orderDate | date: "d MMM y" }}</td>
          <td>{{ order.total | currency }}</td>
          <td>{{ order.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<!-- <div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <table class="table table-hover" style="cursor: pointer">
        <thead class="thead-light">
          <tr>
            <th>№</th>
            <th>Дата</th>
            <th>Сума замовлення</th>
            <th>Статус</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders" routerLink="/orders/{{ order.id }}">
            <th># {{ order.id }}</th>
            <td>{{ order.orderDate | date: "medium" }}</td>
            <td>{{ order.total | currency }}</td>
            <td>{{ order.status }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->
