.number-increment {
    display: flex;
    align-items: center;
}

.number-increment__decrement {
    margin-right: 20px;
}

.number-increment__increment,
.number-increment__decrement {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

button.disabled {
    opacity: 0.5;
    cursor: default;
}

input[name="quantity"] {
    display: none;
}

.quantity_holder { 
    margin-right: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #3f3f3f;
    width: 25px;
    text-align: center;
    user-select: none;
}
