<section class="filters">
    <div class="filters-top">
        <div class="wrapper">
            <button (click)="toggleCollapse()">
                <p>Фільтри</p>
                <img [@rotate]="collapsed" 
                src="./assets/images/icons/chevron-up-solid.svg" alt="chevron up" />
            </button>
        </div>
    </div>
    <div [@collapse]="collapsed" class="filters-bottom">
        <div class="wrapper">
            <ul class="filter_headings">
                <li class="filter_heading">
                    <h3>Тип товару</h3>
                    <ul class="filter_categories">
                        <li *ngFor="let type of types"
                        class="filter"
                        [class.active]="type.id === this.shopParams.typeId"
                        [value]="type.id">
                        <!-- (click)="onTypeSelected(type.id)"> -->
                            <label>
                                <input (change)="onTypeSelected(type.id)" type="checkbox" name="type">
                                <span class="checkmark"></span>
                                <p>{{type.name}}</p>
                            </label>
                        </li>
                    </ul>
                </li>
                <li class="filter_heading">
                    <h3>Ціна</h3>
                    <ul class="filter_categories">
                        <li class="filter">
                            <label>
                                <input type="checkbox" name="price">
                                <span class="checkmark"></span>
                                <p>Від 100 до 200</p>
                            </label>
                        </li>
                        <li class="filter">
                            <label>
                                <input type="checkbox" name="price">
                                <span class="checkmark"></span>
                                <p>Від 201 до 300</p>
                            </label>
                        </li>
                        <li class="filter">
                            <label>
                                <input type="checkbox" name="price">
                                <span class="checkmark"></span>
                                <p>Від 301 до 400</p>
                            </label>
                        </li>
                        <li class="filter">
                            <label>
                                <input type="checkbox" name="price">
                                <span class="checkmark"></span>
                                <p>Більше 400</p>
                            </label>
                        </li>
                    </ul>
                </li>
                <li class="filter_heading">
                    <h3>Сортування</h3>
                    <ul class="filter_categories">
                        <li class="filter"
                        *ngFor="let sort of sortOptions">
                            <label>
                                <input
                                [value]="sort.value" 
                                (change)="onSortSelected($event.target.value)" 
                                class="fas fa-check-square" 
                                type="radio" 
                                name="sort">
                                <span class="radio"></span>
                                <p>{{sort.name}}</p>
                            </label>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="shop">
    <div class="wrapper">
        <ul class="product-list">
            <li class="product-item" *ngFor="let item of products">
                <app-product-item [product]="item"></app-product-item>
            </li>
        </ul>
        <app-pager *ngIf="totalCount > 0"
            [pageSize]="shopParams.pageSize"
            [totalCount]="totalCount"
            (pageChanged)="onPageChanged($event)"
        ></app-pager>
    </div>
</section>
<!-- <div class="container mt-3">
    <div class="row">
        <section class="col-3">
            <ng-container *ngIf="types">
                <h5 class="text-warning ml-3 mt-4 mb-3">Sort</h5>
                <select class="custom-select mb-4" style="cursor: pointer;" (change)="onSortSelected($event.target.value)">
                    <option *ngFor="let sort of sortOptions"
                        [value]="sort.value"
                    >
                        {{sort.name}}
                    </option>
                </select>

                  <h5 class="text-warning ml-3">Types</h5>
                  <ul class="list-group my-3" style="cursor: pointer;">
                    <li class="list-group-item"
                        *ngFor="let type of types"
                        [class.active]="type.id === this.shopParams.typeId"
                        [value]="type.id"
                        (click)="onTypeSelected(type.id)"
                    >
                        {{type.name}}
                    </li>
                  </ul>
            </ng-container>
        </section>

        <section class="col-9">
            <div class="d-flex justify-content-between align-items-center pb-2">
                <app-paging-header
                    [totalCount]="totalCount"
                    [pageSize]="this.shopParams.pageSize"
                    [pageNumber]="this.shopParams.pageNumber"
                ></app-paging-header>
                <div class="form-inline mt-2" *ngIf="products">
                    <input (keyup.enter)="onSearch()" class="form-control mr-2" #search style="width: 300px;" placeholder="Search" type="text">
                    <button (click)="onSearch()" class="btn btn-outline-primary my-2">Search</button>
                    <button (click)="onReset()" class="btn btn-outline-success ml-2 my-2">Reset</button>
                </div>
            </div>

            <div class="row">
                <div class="col-4 mb-4" *ngFor="let item of products">
                  <app-product-item [product]="item"></app-product-item>
                </div>
            </div>
            <div class="d-flex justify-content-center" *ngIf="totalCount > 0">
                <app-pager
                    [pageSize]="shopParams.pageSize"
                    [totalCount]="totalCount"
                    (pageChanged)="onPageChanged($event)"
                ></app-pager>
            </div>
        </section>
    </div>
</div> -->
