@import "/src/variables";
.custom-select.checkout-select {
  .ng-select {
    margin-bottom: 50px;
    .ng-value-container,
    .ng-option {
      background-color: $white;
      padding: 10px !important;
      box-sizing: border-box;
      width: 100%;
      font-size: 16px;
    }
    .ng-select-container,
    .ng-dropdown-panel-items {
      border: solid 1px $black;
      border-radius: 2px;
    }

    .ng-clear-wrapper {
      width: 22px;
      display: flex;
      align-items: center;

      .ng-clear {
        font-size: 25px;
      }
    }
  }
}
.custom-select {
  position: relative;
  .select-label {
    position: absolute;
    top: -7px;
    left: 6px;
    font-size: 11px;
    background: #ffffff;
    z-index: 1002;
  }

  .ng-select {
    .ng-value-container {
      padding: 3px 10px;
      background-color: $white;
      cursor: pointer !important;
      font-size: 16px;
      font-weight: 600;
      color: $black;
      display: flex;
      justify-content: space-between;
    }

    .ng-value-container::after {
      content: "\00A0";
    }

    // TODO: remove
    // .ng-value-container::after {
    //   content: url("../../../../assets/images/icons/chevron-down-solid.svg");
    //   width: 11px;
    //   height: 9px;
    // }

    .ng-has-value .ng-placeholder {
      display: none;
    }

    .ng-placeholder {
      color: #999;
      font-weight: 400;
    }

    .ng-input {
      padding-left: inherit;
      padding-right: inherit;
    }

    .ng-dropdown-panel-items {
      border: solid 1px $black;
      background-color: $white;

      .ng-option {
        padding: 3px 10px;
        font-size: 16px;
        color: $black;
        display: flex !important;
        justify-content: space-between;
        align-items: center;
      }

      .ng-option-selected,
      .ng-option-marked {
        background-color: #f9f9f9;
      }

      .ng-option-selected:after {
        content: url("../../../../assets/images/icons/check-green.svg");
        line-height: 0;
      }
    }
  }

  // TODO: remove
  // .ng-select-opened {
  //   .ng-value-container::after {
  //     content: url("../../../../assets/images/icons/chevron-up-solid.svg");
  //   }
  // }
}
.checkout-select__error {
  position: absolute;
  top: 48px;
}
